<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/index.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
              <ul class="navbar-nav justify-content-end">
                <% if(!currentUser) { %>
                  <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                    <a href="/register" class="nav-link">Register</a>
                  </li>
                <% }else{ %>
                  <li class="nav-item">
                    <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                  </li>
                  <li class="nav-item">
                    <a href="/logout" class="nav-link">Log Out</a>
                  </li>
                <% } %>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="h1 site-title">
              Beautiful Pangalengan
            </div>
            <hr class='site-hr'>
            <p class='site-desc'>Where heaven on earth places</p>
          </div>
        </div>
      </div >

      
      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>


      <div class="section-1">
        <div class="container text-center">
          <h1 class="heading-1">
            Fantastic Beauty
          </h1>
          <p class='para-1'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam officiis reiciendis explicabo molestias blanditiis. Blanditiis vel laudantium, amet dicta expedita modi deleniti explicabo hic vitae obcaecati pariatur, iure ad perspiciatis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo sequi, eaque dicta soluta quas earum dolorum maiores accusantium nulla, pariatur hic vel aspernatur! Sint quam adipisci at ullam alias quia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugit quod iure perferendis consequatur suscipit, doloribus natus, veritatis repellat, atque fuga! Eveniet commodi, ipsa odit quas neque quos necessitatibus id.</p>
        </div>
        <div class='container'>
          <div class='row align-self-center justify-content-around' data-aos="fade-right" data-aos-duration="1000">
            <div class="col-12 col-md-3">
              <div class="d-flex align-self-center justify-content-around">
                  <div class="card" style="width: 18rem;">
                    <img src="https://www.knetizen.com/wp-content/uploads/2019/10/IZONE-Jo-Yuri.jpg" class="card-img-top" alt="images">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="d-flex align-self-center justify-content-around">
                <div class="card" style="width: 18rem;">
                  <img src="https://www.knetizen.com/wp-content/uploads/2019/10/IZONE-Jo-Yuri.jpg" class="card-img-top" alt="images">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="d-flex align-self-center justify-content-around">
                <div class="card" style="width: 18rem;">
                  <img src="https://www.knetizen.com/wp-content/uploads/2019/10/IZONE-Jo-Yuri.jpg" class="card-img-top" alt="images">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="d-flex align-self-center justify-content-around">
                  <div class="card" style="width: 18rem;">
                    <img src="https://www.knetizen.com/wp-content/uploads/2019/10/IZONE-Jo-Yuri.jpg" class="card-img-top" alt="images">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-12 col-md-6 content order-2 order-md-1">
              <h1 class='heading-2'>Photo of the Day</h1>
              <p> Explore more in our gallery</p>
              <a href='/gallery' class="btn btn-primary">Gallery</a>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">

              <% if(image.length>1) { %>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <% for(let x=0;x<image.length;x++){ %>
                      <div class="carousel-item <%= x== 0 ? 'active' : null %>">
                        <img data-aos="fade-left" data-aos-duration="1000" class='img mt-3' src="data:image/<%= image[x].contentType%>;base64,<%= image[x].data.toString('base64')%>">
                      </div>
                    <% } %>
                  </div>
                </div> 
              <% } else if (image.length == 1){ %>
                <img data-aos="fade-left" data-aos-duration="1000" class='img mt-3' src="data:image/<%= image[0].contentType%>;base64,<%= image[0].data.toString('base64')%>">
              <% } else { %>
                <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" data-aos="fade-left" data-aos-duration="1000" class='img mt-3' alt="images">
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="section-3">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-12 col-md-6">
              <img data-aos="fade-right" data-aos-duration="1000" class='img' src='https://res.cloudinary.com/djiahwrki/image/upload/v1594617814/images/nature_uyjmok.svg'>
            </div>
            <div class="col-12 col-md-6">
              <h1 class='heading-3'>Why you should visit pangalengan?</h1>
              <p class = 'param-3'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nobis animi recusandae itaque fugit ducimus illum doloribus nam odio nisi deleniti sit aperiam veritatis doloremque quis, sint tenetur, perspiciatis repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus debitis commodi ad corporis quod consequatur aperiam, aliquid sapiente quas repellat animi culpa, soluta dolor omnis voluptates sit. Cupiditate, eaque obcaecati</p>
            </div>
          </div>
        </div>
      </div>

      <% if(posts) { %>
      <div class="section-4">
        <div class="container px-lg-5">

          <a href="/activity"><h1 class='heading-4'>What's on Pangalengan?</h1></a>
          
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% for (let x=0;x<posts.length;x++) { %>
                <div class="carousel-item <%= x== 0 ? 'active' : null %>">
                    <div class="activity mb-2 mb-md-5">
                      <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-lg-4 justify-content-center">
                          <% if(posts[x].image) { %>
                            <img src="data:image/<%= posts[x].image.contentType%>;base64,<%= posts[x].image.data.toString('base64')%>" class="img mt-3" alt="images">
                          <% } else{ %>
                            <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" class="img mt-3" alt="images">
                          <% } %>
                        </div>
                        <div class="col-12 col-lg-8 justify-content-center pl-lg-3">
                            <% if(posts[x].title){ %>
                              <h1 class='heading-1'><%= posts[x].title %></h1>
                            <%}%>
                            
                            <% if(posts[x].author){ %>
                              <p class='author'><em>Posted by <span class='username'><%= posts[x].author.username %></span></em></p>
                            <%}%>           
          
                            <% if(posts[x].content){ %>
                              <p class='para-4'><%= posts[x].content.slice(0,250) %> ...</p>
                            <%}%>
          
                            <div class="d-flex flex-row justify-content-end justify-content-lg-start">
                              <a href='/activity/<%= posts[x]._id %>' class='btn btn-primary'>Read More</a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div> 
          </div>
        </div>
      <%}%>
    </main>

    <footer>
      <div class="container-fluid footer text-center p-3 p-md-5">
        <ul class='ul-footer mb-4'>
          <li><a class='px-2 px-lg-5' href="/">Home</a></li>
          <li><a class='px-2 px-lg-5' href="/about-us">About Us</a></li>
          <li><a class='px-2 px-lg-5' href="/activity">Activity</a></li>
          <li><a class='px-2 px-lg-5' href="/documentation">Documentation</a></li>
        </ul>
        
        <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors.</p>
        <p class='param-footer1'>All right reserved. Beautiful Pangalengan.</p>
        <div class="my-2">
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/ugm_rvgujo.png" alt="ugm" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617819/images/kkn-ppm_jsxtu7.png" alt="kkn-ppm" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617815/images/ww_czmtk7.png" alt="ww" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/se_dn4xws.png" alt="se" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617864/images/geothermal_aqdzuw.png" alt="geothermal" class='sponsor-img'>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
      $('.carousel').carousel({
        interval: 3000
      })
    </script>
  </body>
</html>