<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/tourist/new.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <% if(!currentUser) { %>
                <li class="nav-item">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register" class="nav-link">Register</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                  <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Log Out</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <h1 class="site-title">
              New Post About
            </h1>
          </div>
        </div>
      </div>

      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>

      <div class="section-1">
        <div class="container px-5">
          <form method="POST" action="/tourist-attraction" enctype="multipart/form-data">

            <div class="form-group">
              <label for="title" class='font-weight-bold'>Input a title</label>
              <input type="text" class="form-control" id="title" name='title' required>
            </div>

            <p class='font-weight-bold'>Select image</p>
            <small class="form-text text-muted">Max 2 images</small>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept="image/*" name="image" multiple>
                <label class="custom-file-label" for="customFile" id='customLabel'>Choose file</label>
              </div>
            </div>

            <div class="category mb-3">
              <p class='font-weight-bold'> Select category</p>
              <div class="radios ml-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="attraction" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Attraction (Objek Wisata)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="exampleRadios2" value="lodging">
                  <label class="form-check-label" for="exampleRadios2">
                    Lodging (Penginapan)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="category" id="exampleRadios3" value="restaurant">
                  <label class="form-check-label" for="exampleRadios3">
                    Restaurant
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label for="newDescription" class="font-weight-bold">Content Put Here</label>
                <textarea name="content" class="form-control" id="newDescription" required cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
              <label for="contact" class='font-weight-bold'>Your contact info</label>
              <input type="text" class="form-control" id="contact" name='contact' placeholder="WA/081122223333">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <div class="container-fluid footer text-center p-3 p-md-5">
        <ul class='ul-footer mb-4'>
          <li><a class='px-2 px-lg-5' href="/">Home</a></li>
          <li><a class='px-2 px-lg-5' href="/about-us">About Us</a></li>
          <li><a class='px-2 px-lg-5' href="/activity">Activity</a></li>
          <li><a class='px-2 px-lg-5' href="/documentation">Documentation</a></li>
        </ul>
        
        <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors.</p>
        <p class='param-footer1'>All right reserved. Beautiful Pangalengan.</p>
        <div class="my-2">
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/ugm_rvgujo.png" alt="ugm" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617819/images/kkn-ppm_jsxtu7.png" alt="kkn-ppm" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617815/images/ww_czmtk7.png" alt="ww" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/se_dn4xws.png" alt="se" class='sponsor-img'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617864/images/geothermal_aqdzuw.png" alt="geothermal" class='sponsor-img'>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
      let input = document.getElementById( 'customFile' );
      let infoArea = document.getElementById( 'customLabel' );

      input.addEventListener( 'change', showFileName );

      function showFileName( event ) {
        
        // the change event gives us the input it occurred in 
        let input = event.srcElement;
        
        // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
        let fileName = [];
        for (let x=0;x<input.files.length;x++){
          fileName.push(input.files[x].name);
        }
        
        // use fileName however fits your app best, i.e. add it into a div
        infoArea.textContent = fileName.join(', ')

        //alert when file more than 2
        if(input.files.length>2){
          alert('You can only upload a maximum of 2 images')
        }
      }
    </script>
  </body>
</html>