<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/tourist/index.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <% if(!currentUser) { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Register</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                    <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                        <a href="/logout" class="nav-link">Log Out</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <h1 class="site-title">
              Tourist Attraction
            </h1>
          </div>
        </div>
      </div>

      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>

      <!-- input ure content -->
      <div class="navigasi container my-3 my-lg-5">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link px-2 px-lg-5" href="/tourist-attraction">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 px-lg-5" href="/tourist-attraction/attraction">Attraction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 px-lg-5" href="/tourist-attraction/lodging">Lodging</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 px-lg-5 active" href="/tourist-attraction/restaurant">Restaurant</a>
          </li>
        </ul>
      </div>

      <div class="section-1 container">
        <a id="myBtn" class= 'btn btn-primary' href='/tourist-attraction/new'>New Post</a>
        <div class="row justify-content-center align-items-center">

          <% if(posts){ %>
            <% posts.forEach(post=>{ %>
              <div class="col-12 col-md-6 col-lg-4 justify-content-center align-self-start mb-3">
                <div class="card" style="width: 18rem;">

                  <% if(post.image.length>1) { %>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <% for(let x=0;x<post.image.length;x++){ %>
                          <div class="carousel-item <%= x== 0 ? 'active' : null %>">
                            <img class='img lazyload' src="data:image/<%= post.image[x].contentType%>;base64,<%= post.image[x].data.toString('base64')%>">
                          </div>
                        <% } %>
                      </div>
                    </div> 
                  <% } else if (post.image.length == 1){ %>
                    <img class='img lazyload' src="data:image/<%= post.image[0].contentType%>;base64,<%= post.image[0].data.toString('base64')%>">
                  <% } else { %>
                    <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" class="img lazyload" alt="images">
                  <% } %>

                  <div class="card-body">
                      <a href='/tourist-attraction/<%=post._id%>'> <h5 class="card-title m-0"> <%= post.title %></h5> </a>
                      <% if(post.author){ %>
                        <p class='author'><em>Posted by <span class='username'><%= post.author.username %></span></em></p>
                      <%}%>
                      <p class="card-text"><%= post.content.slice(0,150) %> ...</p>
                      <p class='category'><%= post.category %></p>
                    </div>
                  </div>
                </div>
              <% }); %>
                
            </div>  
            <% if(page){%>
              <div class="paginate d-flex flex-row justify-content-center my-3 my-lg-5">
                <% if(page > 1) { %>
                  <a href="/tourist-attraction/attraction?page=<%= parseInt(page,10) - 1 %>" class='btn btn-info rounded-0'>Back</a>
                <%}%>
                <% if(posts.length == 6) {%>
                  <a href="/tourist-attraction/attraction?page=<%= parseInt(page,10) + 1 %>" class='btn btn-primary rounded-0'>Next</a>
                <%}%>
              </div>
            <%}%>

          <% } else { %>
            <div class="notfound my-3 my-lg-5">
              <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/frown_euqxwu.png" alt="frown" class='img1'>
              <h1 class='text-center'>There are still no posts yet</h1>
            </div>
          <% } %>
          
      </div>
    </main>

    <footer>
      <div class="container-fluid footer text-center p-3 p-md-5">
        <ul class='ul-footer mb-4'>
          <li><a class='px-2 px-lg-5' href="/">Home</a></li>
          <li><a class='px-2 px-lg-5' href="/about-us">About Us</a></li>
          <li><a class='px-2 px-lg-5' href="/activity">Activity</a></li>
          <li><a class='px-2 px-lg-5' href="/documentation">Documentation</a></li>
        </ul>
        
        <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors.</p>
        <p class='param-footer1'>All right reserved. Beautiful Pangalengan.</p>
        <div class="my-2">
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/ugm_se5u8n.png" alt="ugm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/kkn_a7jdxy.png" alt="kkn-ppm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/ww_r46z2g.png" alt="ww" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/se_p75fdr.png" alt="se" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/geo_j0ekdx.png" alt="geothermal" class='sponsor-img lazyload'>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $('.carousel').carousel({
        interval: 3000
      })
    </script>
    <!-- lazyloading for img -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async=""></script>
  </body>
</html>