<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/user/user.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <% if(!currentUser) { %>
                <li class="nav-item active">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register" class="nav-link">Register</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                  <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Log Out</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <h1 class="site-title">
              Login
            </h1>
          </div>
        </div>
      </div>

      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>

      <!-- input ure content -->
      <div class="container p-5 my-lg-5 form">
        <div class="row">
          <div class="col-12 col-lg-6 pb-3">
            <img class='img' src='https://res.cloudinary.com/djiahwrki/image/upload/v1594617817/images/login_yywjaa.svg' alt="login">
          </div>
          <div class="col-12 col-lg-6 pb-3">
            <form method="POST" action="/login">
              <div class="form-group"> 
                  <label for="usernameReg">Username</label>
                  <input id="usernameReg" type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                  <label for="passwordReg">Password</label>
                  <input id="passwordReg" type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <a href="/forgot" class='para-1'>Forgot your password?</a>
              <a href="/register" class='para-1'>New to this site? Create an Account</a>
              <div class="d-flex flex-row justify-content-end py-2">
                <button type="submit" class="btn btn-primary">Log In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </main>

    <footer>
      <div class="container-fluid footer text-center p-3 p-md-5">
        <ul class='ul-footer mb-4'>
          <li><a class='px-2 px-lg-5' href="/">Home</a></li>
          <li><a class='px-2 px-lg-5' href="/about-us">About Us</a></li>
          <li><a class='px-2 px-lg-5' href="/activity">Activity</a></li>
          <li><a class='px-2 px-lg-5' href="/documentation">Documentation</a></li>
        </ul>
        
        <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors.</p>
        <p class='param-footer1'>All right reserved. Beautiful Pangalengan.</p>
        <div class="my-2">
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/ugm_se5u8n.png" alt="ugm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/kkn_a7jdxy.png" alt="kkn-ppm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/ww_r46z2g.png" alt="ww" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/se_p75fdr.png" alt="se" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/geo_j0ekdx.png" alt="geothermal" class='sponsor-img lazyload'>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- lazyloading for img -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async=""></script>
  </body>
</html>