<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/activity/index.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <% if(!currentUser) { %>
                <li class="nav-item">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register" class="nav-link">Register</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                  <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Log Out</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <h1 class="site-title">
              Activity
            </h1>
          </div>
      </div>
      </div >

      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>

      <div class="section-1">
        <div class="container-fluid">
          <div class="row justify-content-center align-items-start">
            <div class="col-12 col-lg-4 order-lg-2 order-lg-2">
              <form class="form-inline justify-content-center my-3 my-lg-5" method="POST" action="/activity/search">
                  <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search" name='search'>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
  
              <% if(random1 && random2) {%>
                <div class="d-none d-lg-block">
                  <div class="randomactivity pb-5">
                      <h5>For you</h5>
                      <div class="card my-3">
                        <% if(random1.image) { %>
                          <img src='data:image/<%= random1.image.contentType%>;base64,<%= random1.image.data.toString('base64')%>' class="card-img-top" alt="...">
                        <% } else{ %>
                          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" class="card-img-top" alt="images">
                        <% } %>
                        <div class="card-body">
                          <a href="/activity/<%= random1._id %>"> <h5 class="card-title m-0"><%= random1.title %></h5></a>
                          <% if(random1.author){ %>
                            <p class='author'><em>Posted by <span class='username'><%= random1.author.username %></span></em></p>
                          <%}%>
                          <p class="card-text"><%= random1.content.slice(0,50) %> ...</p>
                        </div>
                      </div>
  
                      <div class="card my-3">
                        <% if(random2.image) { %>
                          <img src='data:image/<%= random2.image.contentType%>;base64,<%= random2.image.data.toString('base64')%>' class="card-img-top" alt="...">
                        <% } else{ %>
                          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" class="card-img-top" alt="images">
                        <% } %>
                        <div class="card-body">
                          <a href="/activity/<%= random2._id %>"><h5 class="card-title m-0"><%= random2.title %></h5></a>
                          <% if(random2.author){ %>
                            <p class='author'><em>Posted by <span class='username'><%= random2.author.username %></span></em></p>
                          <%}%>
                          <p class="card-text"><%= random2.content.slice(0,50) %> ...</p>
                        </div>
                      </div>
                  </div>
                </div>
              <% } %>
            </div>
            
            <div class="col-12 col-lg-8 order-lg-1 activity" id='activity'>

              <% if(currentUser  && currentUser.isAdmin){ %>
              <a href='/activity/new' class='btn button mt-1 mt-lg-5'>New Post</a>
              <% } %>

              
              <% if(posts){ %>
                <% posts.forEach((post) => { %>
                
                <div class="activity mt-2 mt-md-5">
                  <div class="row justify-content-center align-items-center">
                      <div class="col-12 col-md-8 order-2 order-lg-1 justify-content-center">
                        <% if(post.title){ %>
                          <h1 class='heading-1'><%= post.title %></h1>
                        <%}%>
                        
                        <% if(post.author){ %>
                          <p class='author'><em>Posted by <span class='username'><%= post.author.username %></span></em></p>
                        <%}%>           
      
                        <% if(post.content){ %>
                          <p class='para-1'><%= post.content.slice(0,250) %> ...</p>
                        <%}%>
      
                        <div class="d-flex flex-row justify-content-end">
                          <a href='/activity/<%= post._id %>' class='btn btn-primary'>Read More</a>
                        </div>
                      </div>
  
                      <div class="col-12 col-md-4 order-1 order-lg-2 justify-content-center">
                        <% if(post.image) { %>
                          <img src="data:image/<%= post.image.contentType%>;base64,<%= post.image.data.toString('base64')%>" class="card-img-top lazyload" alt="images">
                          <% } else{ %>
                            <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/emptypic_ri9jxa.png" class="card-img-top lazyload" alt="images">
                          <% } %>
                      </div>
                    </div>
                    <hr class='rules mt-2 mt-md-5'>
                  </div>
                  <% }) %>
              <% } %>

              <% if(page){%>
                <div class="paginate d-flex flex-row justify-content-center my-3 my-lg-5">
                  <% if(page > 1) { %>
                    <a href="/activity?page=<%= parseInt(page,10) - 1 %>" class='btn btn-info rounded-0'>Back</a>
                  <%}%>
                  <% if(posts.length == 4) {%>
                    <a href="/activity?page=<%= parseInt(page,10) + 1 %>" class='btn btn-primary rounded-0'>Next</a>
                  <%}%>
                </div>
              <%}%>

            </div>
            
          </div>

          <% if(!posts) { %>
            <div class="notfound my-3 my-lg-5">
              <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594617816/images/frown_euqxwu.png" alt="frown" class='img'>
              <h1 class='text-center'>There are still no posts yet</h1>
            </div>
          <% } %>


        </div>
      </div>
    </main>

    <footer>
      <div class="container-fluid footer text-center p-3 p-md-5">
        <ul class='ul-footer mb-4'>
          <li><a class='px-2 px-lg-5' href="/">Home</a></li>
          <li><a class='px-2 px-lg-5' href="/about-us">About Us</a></li>
          <li><a class='px-2 px-lg-5' href="/activity">Activity</a></li>
          <li><a class='px-2 px-lg-5' href="/documentation">Documentation</a></li>
        </ul>
        
        <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors.</p>
        <p class='param-footer1'>All right reserved. Beautiful Pangalengan.</p>
        <div class="my-2">
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/ugm_se5u8n.png" alt="ugm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/kkn_a7jdxy.png" alt="kkn-ppm" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/ww_r46z2g.png" alt="ww" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958868/images/se_p75fdr.png" alt="se" class='sponsor-img lazyload'>
          <img src="https://res.cloudinary.com/djiahwrki/image/upload/v1594958869/images/geo_j0ekdx.png" alt="geothermal" class='sponsor-img lazyload'>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- lazyloading for img -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async=""></script>
  </body>
</html>