<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href="/styles/activity/search.css" >

    <title>Beautiful Pangalengan</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pangalengan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tourist-attraction">Tourist Attraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <% if(!currentUser) { %>
                <li class="nav-item">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register" class="nav-link">Register</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                  <a href="/profile/<%= currentUser._id %>" class="nav-link">Signed in As <%= currentUser.username %> </a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Log Out</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class='site-content'>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center text-center">
            <h1 class="site-title">
              Searching for Activities
            </h1>
          </div>
        </div>  
      </div >

      <% if(success && success.length>0 ){ %>
        <div class="container my-3">
          <div class="alert alert-success " role="alert">
              <%= success %>
          </div>
        </div>
      <% } %>
      <% if(warning && warning.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-warning " role="alert">
              <%= warning %>
          </div>
        </div>
      <% } %>
      <% if (error && error.length>0){ %>
        <div class="container my-3">
          <div class="alert alert-danger " role="alert">
              <%= error %>
          </div>
        </div>
      <% } %>

      <div class="section-1 my-1 my-lg-5">
        <div class="container-fluid">
          <form class="form-inline justify-content-center mb-3 mb-lg-5" method="POST" action="/activity/search">
            <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search" name='search' value='<%= search %>'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <div class="activity">
              <% if(posts) { %>
                <% posts.forEach((post) => { %>
                  <div class="activity">
                    <h1 class='heading-1'><%= post.title %></h1>

                    <% if(post.image){ %>
                      <img class='img' src='data:image/<%= post.image.contentType%>;base64,<%= post.image.data.toString('base64')%>' alt='img'>
                    <%} else{ %>
                      <img src="/images/emptypic.png" class="img" alt="images">
                    <% } %>
                    
                    <p class='para-1'><%= post.content.slice(0,250) %> ...</p>
                    <a href='/activity/<%= post._id %>' class='btn button d-block'>Read More</a>
                    <hr class='rules'>
                  </div>
                <% }) %>
              <% } else { %>
                  <div class="notfound">
                    <h1 class='text-center'>No matches found. Try a different search...</h1>
                  </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container-fluid footer">
        <div class="row justify-content-between align-items-start">
          <div class="col-12 col-lg-8 order-2 order-lg-1 my-2 text-center">
            <h4>Contact Us!</h4>
            <div class="mb-2">
              <a href='/'>
                <img src="/images/ig.png" alt="ig">
              </a>
              <a href='/'>
                <img src="/images/fb.png" alt="ig">
              </a>
            </div>
            <p class='param-footer'>Designed and built with all the love in the world by Farand from the Wayang Windu KKN team and with the help of our contributors. All right reserved. Pangalengan</p>
            <div class="my-2">
              <img src="/images/ugm.png" alt="ugm" class='sponsor-img'>
              <img src="/images/kkn-ppm.png" alt="kkn-ppm" class='sponsor-img'>
              <img src="/images/ww.png" alt="ww" class='sponsor-img'>
              <img src="/images/se.png" alt="se" class='sponsor-img'>
              <img src="/images/geothermal.png" alt="geothermal" class='sponsor-img'>
            </div>
          </div>
          <div class="col-12 col-lg-4 order-1 order-lg-2 pb-1 justify-content-end">
            <h4>Our Location</h4>
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="350" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=pangalengan%20indonesia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>